# How Many Washingtonians are Low- or Middle- Income?

In [126]:
# import necessary packages
import pandas as pd
import numpy as np

## State-level data

Data Source: 2018 American Community Survey via IPUMS NHGIS, University of Minnesota, www.nhgis.org

In [ ]:
states = pd.read_csv('../data/2018_state.csv')

In [ ]:
wa = states.loc[states['STATE'] == 'Washington']

In [4]:
wa

,GISJOIN,YEAR,REGIONA,DIVISIONA,STATE,STATEA,COUNTYA,COUSUBA,PLACEA,TRACTA,...,AJY9M017,AJZAM001,AJ0EM001,AJ1CM001,AJ1CM002,AJ1CM003,AJ1CM004,AJ1CM005,AJ1CM006,AJ1CM007
48,G530,2014-2018,NaN,NaN,Washington,53,NaN,NaN,NaN,NaN,...,2752,308,168,1574,6117,5945,6919,3629,1425,6190

### ratio of income to poverty level - population for whom poverty status is determined

In [5]:
income_to_pov = wa.loc[:, 'AJY4E001': 'AJY4E008']
income_to_pov

   AJY4E001 AJY4E002 AJY4E003 AJY4E004 AJY4E005 AJY4E006 AJY4E007 AJY4E008
48  7161708   377106   444515   255057   273495   395859   177498  5238178

In [52]:
income_to_pov.columns = ['Total', 
        'Under .50',
        '.50 to .99',
        '1.00 to 1.24',
        '1.25 to 1.49',
        '1.50 to 1.84',
        '1.85 to 1.99',
        '2.00 and over']
income_to_pov.columns = income_to_pov.columns.str.replace(' ', '_').str.lower()

In [53]:
income_to_pov = income_to_pov.astype(int)

In [54]:
income_to_pov

,total,under_.50,.50_to_.99,1.00_to_1.24,1.25_to_1.49,1.50_to_1.84,1.85_to_1.99,2.00_and_over
48,7161708,377106,444515,255057,273495,395859,177498,5238178

In [16]:
less_than_2x_poverty = sum(income_to_pov.loc[48, 'under_half':'1p85_1p99'])

In [17]:
less_than_2x_poverty

1923530

In [18]:
less_than_2x_poverty / income_to_pov['total']

48    0.268585
Name: total, dtype: float64

### household income

In [24]:
house_income = wa.loc[:,'AJY9E001':'AJY9E017'].astype(int)

In [50]:
house_income.columns = ['Total',
        'Less than $10,000',
        '$10,000 to $14,999',
        '$15,000 to $19,999',
        '$20,000 to $24,999',
        '$25,000 to $29,999',
        '$30,000 to $34,999',
        '$35,000 to $39,999',
        '$40,000 to $44,999',
        '$45,000 to $49,999',
        '$50,000 to $59,999',
        '$60,000 to $74,999',
        '$75,000 to $99,999',
        '$100,000 to $124,999',
        '$125,000 to $149,999',
        '$150,000 to $199,999',
        '$200,000 or more']
house_income.columns = house_income.columns.str.replace(' ', '_').str.replace('$', '').str.lower()

In [51]:
house_income

,total,"less_than_10,000","10,000_to_14,999","15,000_to_19,999","20,000_to_24,999","25,000_to_29,999","30,000_to_34,999","35,000_to_39,999","40,000_to_44,999","45,000_to_49,999","50,000_to_59,999","60,000_to_74,999","75,000_to_99,999","100,000_to_124,999","125,000_to_149,999","150,000_to_199,999","200,000_or_more"
48,2800423,144695,95789,99129,104429,107027,112120,110303,115143,105170,210273,286122,381845,281885,196331,215941,234221

In [56]:
print(f"Average people per household: {income_to_pov.loc[48, 'total']/house_income.loc[48, 'total']}")

Average people per household: 2.5573665121304887

In [66]:
median_house_income = wa.loc[:, 'AJZAE001'].astype(int)
median_house_income = median_house_income[48]
median_house_income

70116

In [68]:
print(f"""HUD income levels:
low (80% median): {median_house_income*.8}
very low (50% median): {median_house_income*.5}
extremely low(30% median): {median_house_income*.3}""")

HUD income levels:
low (80% median): 56092.8
very low (50% median): 35058.0
extremely low(30% median): 21034.8

In [70]:
low_income = (sum(house_income.loc[48, 'less_than_10,000': '45,000_to_49,999']), 
              sum(house_income.loc[48, 'less_than_10,000': '50,000_to_59,999']))

In [69]:
print(f"""Households @ HUD income levels:
low: {low_income[0]} - {low_income[1]}
very low: {sum(house_income.loc[48, 'less_than_10,000': '30,000_to_34,999'])}
extremely low: {sum(house_income.loc[48, 'less_than_10,000': '15,000_to_19,999'])}""")

Households @ HUD income levels:
low: 993805 - 1204078
very low: 663189
extremely low: 339613

In [72]:
print(f"proportion of households that are low income: {low_income[0]/house_income.loc[48, 'total']} - {low_income[1]/house_income.loc[48, 'total']}")

proportion of households that are low income: 0.35487674540596187 - 0.4299629020330143

In [73]:
print(f"people in low income households based on avg household size: {low_income[0]*2.6} - {low_income[1]*2.6}")

people in low income households based on avg household size: 2583893.0 - 3130602.8000000003

## County Level Data

In [81]:
counties = pd.read_csv('../data/2018_county.csv', encoding='latin-1')

In [82]:
wa_counties = counties[counties['STATE'] == 'Washington']

In [83]:
# check for correct county count
wa_counties.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 39 entries, 2954 to 2992
Columns: 108 entries, GISJOIN to AJ1CM007
dtypes: object(108)
memory usage: 33.2+ KB

In [78]:
wa_counties.head()

,GISJOIN,YEAR,REGIONA,DIVISIONA,STATE,STATEA,COUNTY,COUNTYA,COUSUBA,PLACEA,...,AJY9M017,AJZAM001,AJ0EM001,AJ1CM001,AJ1CM002,AJ1CM003,AJ1CM004,AJ1CM005,AJ1CM006,AJ1CM007
2954,G5300010,2014-2018,NaN,NaN,Washington,53,Adams County,001,NaN,NaN,...,60,5961,1088,90,298,298,317,181,19,279
2955,G5300030,2014-2018,NaN,NaN,Washington,53,Asotin County,003,NaN,NaN,...,85,2558,1546,97,366,366,410,211,22,370
2956,G5300050,2014-2018,NaN,NaN,Washington,53,Benton County,005,NaN,NaN,...,358,2031,666,290,1074,1060,1091,521,111,1068
2957,G5300070,2014-2018,NaN,NaN,Washington,53,Chelan County,007,NaN,NaN,...,217,2615,1085,202,807,810,814,357,37,826
2958,G5300090,2014-2018,NaN,NaN,Washington,53,Clallam County,009,NaN,NaN,...,192,1998,952,191,758,746,799,274,82,791

In [106]:
c_populations = wa_counties.loc[:,['COUNTY','AJWME001']]
c_populations.columns = ['county', 'population']
c_populations['population'] = c_populations['population'].astype(int)
c_populations

                   county  population
2954         Adams County       19452
2955        Asotin County       22337
2956        Benton County      194168
2957        Chelan County       75757
2958       Clallam County       74487
2959         Clark County      465384
2960      Columbia County        4001
2961       Cowlitz County      105112
2962       Douglas County       41371
2963         Ferry County        7576
2964      Franklin County       90660
2965      Garfield County        2224
2966         Grant County       94860
2967  Grays Harbor County       71967
2968        Island County       81636
2969     Jefferson County       30856
2970          King County     2163257
2971        Kitsap County      262475
2972      Kittitas County       44825
2973     Klickitat County       21396
2974         Lewis County       76947
2975       Lincoln County       10435
2976         Mason County       62627
2977      Okanogan County       41638
2978       Pacific County       21281
2979  Pend Oreille County       13219
2980        Pierce County      859840
2981      San Juan County       16473
2982        Skagit County      123907
2983      Skamania County       11620
2984     Snohomish County      786620
2985       Spokane County      497875
2986       Stevens County       44214
2987      Thurston County      274684
2988     Wahkiakum County        4189
2989   Walla Walla County       60236
2990       Whatcom County      216812
2991       Whitman County       48593
2992        Yakima County      249325

### Household Income

In [107]:
c_house_income = wa_counties.loc[:,'AJY9E001':'AJY9E017'].astype(int)

In [108]:
c_house_income.columns = ['Total',
        'Less than $10,000',
        '$10,000 to $14,999',
        '$15,000 to $19,999',
        '$20,000 to $24,999',
        '$25,000 to $29,999',
        '$30,000 to $34,999',
        '$35,000 to $39,999',
        '$40,000 to $44,999',
        '$45,000 to $49,999',
        '$50,000 to $59,999',
        '$60,000 to $74,999',
        '$75,000 to $99,999',
        '$100,000 to $124,999',
        '$125,000 to $149,999',
        '$150,000 to $199,999',
        '$200,000 or more']
c_house_income.columns = c_house_income.columns.str.replace(' ', '_').str.replace('$', '').str.lower()

In [109]:
c_populations['avg_household_count'] = c_populations['population']/c_house_income['total']

In [146]:
c_house_income

,total,"less_than_10,000","10,000_to_14,999","15,000_to_19,999","20,000_to_24,999","25,000_to_29,999","30,000_to_34,999","35,000_to_39,999","40,000_to_44,999","45,000_to_49,999","50,000_to_59,999","60,000_to_74,999","75,000_to_99,999","100,000_to_124,999","125,000_to_149,999","150,000_to_199,999","200,000_or_more"
2954,5881,386,335,358,431,343,198,328,409,182,430,701,878,383,185,216,118
2955,9171,528,480,637,390,529,612,485,414,451,876,822,1276,722,300,423,226
2956,70983,3291,2945,2723,3138,3069,2884,2725,2733,2783,5926,8062,9785,7041,4638,4919,4321
2957,28038,1820,947,1138,1575,1418,1528,1123,1870,1209,2174,3198,3356,2433,1523,1516,1210
2958,32732,2034,1952,1935,1691,1943,1906,1639,1782,1510,2637,3393,4161,2289,1472,1428,960
2959,171522,6662,4688,5274,6640,6228,6932,7225,7406,6739,13693,18513,25055,19111,13526,12522,11308
2960,1758,120,123,115,87,102,48,128,63,73,98,206,233,129,62,76,95
2961,41397,2954,1892,2209,2463,2443,2100,2118,1951,1759,3156,4632,5324,3387,1762,2050,1197
2962,15064,555,502,615,528,1060,630,695,814,694,1392,1819,2352,1110,1068,746,484
2963,3097,361,171,208,276,129,174,141,268,93,203,314,306,136,141,125,51
2964,26316,1110,891,1171,942,1145,1174,1296,1215,1224,2463,3150,3996,2982,1405,1119,1033
2965,997,69,39,49,54,69,65,48,26,62,119,140,129,72,39,13,4
2966,30651,1710,1062,1258,1844,1805,1469,1816,1256,1646,2864,3179,4610,2326,1702,1305,799
2967,28263,2199,1635,1553,1611,1665,1597,1265,1802,1403,2269,3248,3243,2253,1079,742,699
2968,34364,1706,1159,1153,1302,1412,1475,1353,1466,1691,3000,4356,4795,3490,2119,2149,1738
2969,14239,937,773,551,661,647,805,858,466,735,1398,1626,1574,1229,789,584,606
2970,865627,39569,23100,22928,22972,25099,26325,26585,27824,25888,53795,74638,107024,92460,72505,92991,131924
2971,101662,4981,3246,3503,3481,3732,3911,4024,3799,3726,7898,10882,15893,11581,7116,6906,6983
2972,18003,1795,900,869,857,775,776,740,839,754,1535,2026,2500,1512,707,851,567
2973,8539,589,406,384,322,458,581,527,261,488,616,1129,1208,775,300,324,171
2974,30262,1959,1645,1673,1700,1406,1936,1706,1769,1294,2246,3400,4105,2429,1327,1105,562
2975,4485,249,207,264,238,155,290,247,327,239,337,506,524,384,204,231,83
2976,23535,1391,1022,1332,1284,1305,1070,1182,997,809,2393,2591,3351,2011,1008,1166,623
2977,17527,1295,1347,1156,1188,787,1074,910,765,1176,1419,1972,1824,1260,654,429,271
2978,9087,723,594,614,675,503,474,469,507,520,725,860,1144,604,291,274,110
2979,5782,481,298,300,305,300,449,281,241,325,558,506,788,327,209,284,130
2980,317699,16092,9760,10817,11374,12530,13003,11995,14500,12745,26883,35339,47126,33340,22067,22186,17942
2981,8025,461,324,401,392,414,334,302,344,385,614,867,1022,705,447,447,566
2982,47937,3042,1725,1624,2027,1857,2024,2213,2604,1942,3801,5308,7366,4071,2945,2809,2579
2983,4685,271,287,156,222,212,249,301,164,137,385,526,520,620,261,237,137
2984,289737,10673,7175,7761,8621,8178,9146,9557,10463,9695,20185,29489,43981,35555,25891,28195,25172
2985,198489,13072,9388,9279,9800,10031,10720,10871,9216,8891,15702,20798,26564,16284,10330,9431,8112
2986,17433,1344,1104,1015,942,941,939,963,748,860,1578,1913,2162,947,862,678,437
2987,108070,5203,3577,3799,3848,3517,3943,4187,4915,4143,9124,12377,16988,11331,8086,7498,5534
2988,1844,98,35,93,94,109,136,71,117,59,208,231,179,258,74,26,56
2989,22304,1525,1026,982,947,1184,1199,1110,1023,1045,1651,2809,2680,2088,979,1217,839
2990,85008,5890,3444,3784,3922,4097,4220,3451,3566,3262,7267,9519,11818,7290,4576,5262,3640
2991,17910,2733,1179,1250,1040,1018,683,635,817,820,1251,1548,1878,1240,649,619,550
2992,82300,4817,4406,4198,4545,4412,5041,4733,5396,3713,7404,9529,10127,5720,3033,2842,2384

In [110]:
c_populations[['county','avg_household_count']]

                   county  avg_household_count
2954         Adams County             3.307601
2955        Asotin County             2.435612
2956        Benton County             2.735416
2957        Chelan County             2.701940
2958       Clallam County             2.275663
2959         Clark County             2.713261
2960      Columbia County             2.275882
2961       Cowlitz County             2.539121
2962       Douglas County             2.746349
2963         Ferry County             2.446238
2964      Franklin County             3.445052
2965      Garfield County             2.230692
2966         Grant County             3.094842
2967  Grays Harbor County             2.546333
2968        Island County             2.375626
2969     Jefferson County             2.167006
2970          King County             2.499064
2971        Kitsap County             2.581840
2972      Kittitas County             2.489863
2973     Klickitat County             2.505680
2974         Lewis County             2.542694
2975       Lincoln County             2.326644
2976         Mason County             2.661016
2977      Okanogan County             2.375649
2978       Pacific County             2.341917
2979  Pend Oreille County             2.286233
2980        Pierce County             2.706461
2981      San Juan County             2.052710
2982        Skagit County             2.584788
2983      Skamania County             2.480256
2984     Snohomish County             2.714945
2985       Spokane County             2.508325
2986       Stevens County             2.536224
2987      Thurston County             2.541723
2988     Wahkiakum County             2.271692
2989   Walla Walla County             2.700681
2990       Whatcom County             2.550489
2991       Whitman County             2.713177
2992        Yakima County             3.029465

In [115]:
c_median_house_income.dtypes

county              object
med_house_income    object
dtype: object

In [117]:
c_median_house_income = wa_counties.loc[:, ['COUNTY','AJZAE001']]
c_median_house_income.columns = ['county', 'med_house_income']
c_median_house_income['med_house_income'] = c_median_house_income['med_house_income'].astype(int)
print(c_median_house_income.dtypes)
c_median_house_income['low_threshold'] = .8 * c_median_house_income['med_house_income']
c_median_house_income['v_low_threshold'] = .5 * c_median_house_income['med_house_income']
c_median_house_income['x_low_threshold'] = .3 * c_median_house_income['med_house_income']
c_median_house_income

county              object
med_house_income     int32
dtype: object

,county,med_house_income,low_threshold,v_low_threshold,x_low_threshold
2954,Adams County,49142,39313.6,24571.0,14742.6
2955,Asotin County,50423,40338.4,25211.5,15126.9
2956,Benton County,65650,52520.0,32825.0,19695.0
2957,Chelan County,56135,44908.0,28067.5,16840.5
2958,Clallam County,49913,39930.4,24956.5,14973.9
2959,Clark County,71636,57308.8,35818.0,21490.8
2960,Columbia County,51111,40888.8,25555.5,15333.3
2961,Cowlitz County,51752,41401.6,25876.0,15525.6
2962,Douglas County,60452,48361.6,30226.0,18135.6
2963,Ferry County,41924,33539.2,20962.0,12577.2
2964,Franklin County,62002,49601.6,31001.0,18600.6
2965,Garfield County,52525,42020.0,26262.5,15757.5
2966,Grant County,54982,43985.6,27491.0,16494.6
2967,Grays Harbor County,47770,38216.0,23885.0,14331.0
2968,Island County,64809,51847.2,32404.5,19442.7
2969,Jefferson County,54471,43576.8,27235.5,16341.3
2970,King County,89418,71534.4,44709.0,26825.4
2971,Kitsap County,71610,57288.0,35805.0,21483.0
2972,Kittitas County,55193,44154.4,27596.5,16557.9
2973,Klickitat County,54056,43244.8,27028.0,16216.8
2974,Lewis County,50216,40172.8,25108.0,15064.8
2975,Lincoln County,50744,40595.2,25372.0,15223.2
2976,Mason County,55726,44580.8,27863.0,16717.8
2977,Okanogan County,45808,36646.4,22904.0,13742.4
2978,Pacific County,44846,35876.8,22423.0,13453.8
2979,Pend Oreille County,48583,38866.4,24291.5,14574.9
2980,Pierce County,67868,54294.4,33934.0,20360.4
2981,San Juan County,60711,48568.8,30355.5,18213.3
2982,Skagit County,62865,50292.0,31432.5,18859.5
2983,Skamania County,58598,46878.4,29299.0,17579.4
2984,Snohomish County,82751,66200.8,41375.5,24825.3
2985,Spokane County,54852,43881.6,27426.0,16455.6
2986,Stevens County,49200,39360.0,24600.0,14760.0
2987,Thurston County,69592,55673.6,34796.0,20877.6
2988,Wahkiakum County,54085,43268.0,27042.5,16225.5
2989,Walla Walla County,56533,45226.4,28266.5,16959.9
2990,Whatcom County,59285,47428.0,29642.5,17785.5
2991,Whitman County,42163,33730.4,21081.5,12648.9
2992,Yakima County,49871,39896.8,24935.5,14961.3

In [118]:
c_house_income_thresholds = c_house_income.copy()

In [150]:
# renaming columns as the threshold for inclusion (midpoint)
cols = []
for i, col in enumerate(c_house_income_thresholds.columns):
    splits = col.replace(',', '').split('_')
    income_range = [np.nan, np.nan]
    if splits[0].isnumeric():
        income_range[0] = int(splits[0])
    if len(splits)>1 and splits[2].isnumeric():
        income_range[1] = int(splits[2])
    cols.append(income_range)

In [151]:
cols

[[nan, nan],
 [nan, 10000],
 [10000, 14999],
 [15000, 19999],
 [20000, 24999],
 [25000, 29999],
 [30000, 34999],
 [35000, 39999],
 [40000, 44999],
 [45000, 49999],
 [50000, 59999],
 [60000, 74999],
 [75000, 99999],
 [100000, 124999],
 [125000, 149999],
 [150000, 199999],
 [200000, nan]]

In [256]:
def get_col(n, cols):
    """returns the index and range of the column where n falls within the column range
    params:
      n: value
      cols: list of lists [[col0_min, col0_max], [col1_min, col1_max], [col2_min, col2_max], ...]
    returns:
      (index, range_min, range_max)"""
    for i, col in enumerate(cols):
        if (i == 0) or (n > col[1] and not np.isnan(col[1])):
            continue
        return i

In [236]:
def cal_partial_col(threshold, col_min, col_max, n_hh):
    """returns the number of households proportionate to the location of the threshold within the range of incomes
    """
    return (threshold - col_min) / (col_max - col_min) * n_hh

In [314]:
def est_households(est_hh, threshold, cols, c_house_income):
    est_hh['column_i'] = est_hh[threshold +'_threshold'].apply(lambda x: get_col(x, cols))
    est_hh['col_min'] = [cols[i][0] for i in est_hh['column_i']]
    est_hh['col_max'] = [cols[i][1] for i in est_hh['column_i']]
    est_hh['sum_below'] = [sum(c_house_income.iloc[index, 1:column]) 
                               for index, column in enumerate(est_low_hh['column_i'])]
    est_hh['partial_ratio'] = ((est_hh[threshold +'_threshold'] - est_low_hh['col_min']) /
                             (est_hh['col_max'] - est_low_hh['col_min']))
    est_hh['n_hh_in_band'] = [c_house_income.iloc[index, column] for index, column in enumerate(est_hh['column_i'])]
    est_hh['total_hh_' + threshold] = est_hh['sum_below'] + est_hh['n_hh_in_band']
    return est_hh
# .drop(columns=['column_i', 'col_min', 'col_max', 'sum_below', 'partial_ratio', 'n_hh_in_band'])

In [315]:
est_hh = c_median_house_income.copy()
est_hh = est_households(est_hh, 'low', cols, c_house_income)
# est_hh = est_households(est_hh, 'v_low', cols, c_house_income)
# est_hh = est_households(est_hh, 'x_low', cols, c_house_income)

In [316]:
est_hh['population_low'] = round(est_hh['total_hh_low'] * c_populations['avg_household_count'], 0)
# est_hh['population_v_low'] = round(est_hh['total_hh_v_low'] * c_populations['avg_household_count'], 0)
# est_hh['population_x_low'] = round(est_hh['total_hh_x_low'] * c_populations['avg_household_count'], 0)

In [317]:
est_hh

,county,med_house_income,low_threshold,v_low_threshold,x_low_threshold,column_i,col_min,col_max,sum_below,partial_ratio,n_hh_in_band,total_hh_low,population_low
2954,Adams County,49142,39313.6,24571.0,14742.6,7,35000,39999,2051,0.862893,328,2379,7869.0
2955,Asotin County,50423,40338.4,25211.5,15126.9,8,40000,44999,3661,0.067694,414,4075,9925.0
2956,Benton County,65650,52520.0,32825.0,19695.0,10,50000,59999,26291,0.252025,5926,32217,88127.0
2957,Chelan County,56135,44908.0,28067.5,16840.5,8,40000,44999,9549,0.981796,1870,11419,30853.0
2958,Clallam County,49913,39930.4,24956.5,14973.9,7,35000,39999,11461,0.986277,1639,13100,29811.0
2959,Clark County,71636,57308.8,35818.0,21490.8,10,50000,59999,57794,0.730953,13693,71487,193963.0
2960,Columbia County,51111,40888.8,25555.5,15333.3,8,40000,44999,723,0.177796,63,786,1789.0
2961,Cowlitz County,51752,41401.6,25876.0,15525.6,8,40000,44999,16179,0.280376,1951,18130,46034.0
2962,Douglas County,60452,48361.6,30226.0,18135.6,9,45000,49999,5399,0.672454,694,6093,16734.0
2963,Ferry County,41924,33539.2,20962.0,12577.2,6,30000,34999,1145,0.707982,174,1319,3227.0
2964,Franklin County,62002,49601.6,31001.0,18600.6,9,45000,49999,8944,0.920504,1224,10168,35029.0
2965,Garfield County,52525,42020.0,26262.5,15757.5,8,40000,44999,393,0.404081,26,419,935.0
2966,Grant County,54982,43985.6,27491.0,16494.6,8,40000,44999,10964,0.797279,1256,12220,37819.0
2967,Grays Harbor County,47770,38216.0,23885.0,14331.0,7,35000,39999,10260,0.643329,1265,11525,29346.0
2968,Island County,64809,51847.2,32404.5,19442.7,10,50000,59999,12717,0.184738,3000,15717,37338.0
2969,Jefferson County,54471,43576.8,27235.5,16341.3,8,40000,44999,5232,0.715503,466,5698,12348.0
2970,King County,89418,71534.4,44709.0,26825.4,11,60000,74999,294085,0.769011,74638,368723,921462.0
2971,Kitsap County,71610,57288.0,35805.0,21483.0,10,50000,59999,34403,0.728873,7898,42301,109214.0
2972,Kittitas County,55193,44154.4,27596.5,16557.9,8,40000,44999,6712,0.831046,839,7551,18801.0
2973,Klickitat County,54056,43244.8,27028.0,16216.8,8,40000,44999,3267,0.649090,261,3528,8840.0
2974,Lewis County,50216,40172.8,25108.0,15064.8,8,40000,44999,12025,0.034567,1769,13794,35074.0
2975,Lincoln County,50744,40595.2,25372.0,15223.2,8,40000,44999,1650,0.119064,327,1977,4600.0
2976,Mason County,55726,44580.8,27863.0,16717.8,8,40000,44999,8586,0.916343,997,9583,25501.0
2977,Okanogan County,45808,36646.4,22904.0,13742.4,7,35000,39999,6847,0.329346,910,7757,18428.0
2978,Pacific County,44846,35876.8,22423.0,13453.8,7,35000,39999,3583,0.175395,469,4052,9489.0
2979,Pend Oreille County,48583,38866.4,24291.5,14574.9,7,35000,39999,2133,0.773435,281,2414,5519.0
2980,Pierce County,67868,54294.4,33934.0,20360.4,10,50000,59999,112816,0.429483,26883,139699,378090.0
2981,San Juan County,60711,48568.8,30355.5,18213.3,9,45000,49999,2972,0.713903,385,3357,6891.0
2982,Skagit County,62865,50292.0,31432.5,18859.5,10,50000,59999,19058,0.029203,3801,22859,59086.0
2983,Skamania County,58598,46878.4,29299.0,17579.4,9,45000,49999,1862,0.375755,137,1999,4958.0
2984,Snohomish County,82751,66200.8,41375.5,24825.3,11,60000,74999,101454,0.413414,29489,130943,355503.0
2985,Spokane County,54852,43881.6,27426.0,16455.6,8,40000,44999,73161,0.776475,9216,82377,206628.0
2986,Stevens County,49200,39360.0,24600.0,14760.0,7,35000,39999,6285,0.872174,963,7248,18383.0
2987,Thurston County,69592,55673.6,34796.0,20877.6,10,50000,59999,37132,0.567417,9124,46256,117570.0
2988,Wahkiakum County,54085,43268.0,27042.5,16225.5,8,40000,44999,636,0.653731,117,753,1711.0
2989,Walla Walla County,56533,45226.4,28266.5,16959.9,9,45000,49999,8996,0.045289,1045,10041,27118.0
2990,Whatcom County,59285,47428.0,29642.5,17785.5,9,45000,49999,32374,0.485697,3262,35636,90889.0
2991,Whitman County,42163,33730.4,21081.5,12648.9,6,30000,34999,7220,0.746229,683,7903,21442.0
2992,Yakima County,49871,39896.8,24935.5,14961.3,7,35000,39999,27419,0.979556,4733,32152,97403.0

In [318]:
print(f"""Total Washingtonians:
low income (<80% of median): {sum(est_hh['population_low'])}
very low income (<50% of median): {sum(est_hh['population_v_low'])}
extra low income (<30% of median): {sum(est_hh['population_x_low'])}""")

KeyError: 'population_v_low'

In [312]:
for index, column in enumerate(est_low_hh['column_i']):
    print(index, column)
    print(c_house_income.iloc[index, 1:column])

0 7
less_than_10,000    386
10,000_to_14,999    335
15,000_to_19,999    358
20,000_to_24,999    431
25,000_to_29,999    343
30,000_to_34,999    198
Name: 2954, dtype: int32
1 8
less_than_10,000    528
10,000_to_14,999    480
15,000_to_19,999    637
20,000_to_24,999    390
25,000_to_29,999    529
30,000_to_34,999    612
35,000_to_39,999    485
Name: 2955, dtype: int32
2 10
less_than_10,000    3291
10,000_to_14,999    2945
15,000_to_19,999    2723
20,000_to_24,999    3138
25,000_to_29,999    3069
30,000_to_34,999    2884
35,000_to_39,999    2725
40,000_to_44,999    2733
45,000_to_49,999    2783
Name: 2956, dtype: int32
3 8
less_than_10,000    1820
10,000_to_14,999     947
15,000_to_19,999    1138
20,000_to_24,999    1575
25,000_to_29,999    1418
30,000_to_34,999    1528
35,000_to_39,999    1123
Name: 2957, dtype: int32
4 7
less_than_10,000    2034
10,000_to_14,999    1952
15,000_to_19,999    1935
20,000_to_24,999    1691
25,000_to_29,999    1943
30,000_to_34,999    1906
Name: 2958, dtype: int32
5 10
less_than_10,000    6662
10,000_to_14,999    4688
15,000_to_19,999    5274
20,000_to_24,999    6640
25,000_to_29,999    6228
30,000_to_34,999    6932
35,000_to_39,999    7225
40,000_to_44,999    7406
45,000_to_49,999    6739
Name: 2959, dtype: int32
6 8
less_than_10,000    120
10,000_to_14,999    123
15,000_to_19,999    115
20,000_to_24,999     87
25,000_to_29,999    102
30,000_to_34,999     48
35,000_to_39,999    128
Name: 2960, dtype: int32
7 8
less_than_10,000    2954
10,000_to_14,999    1892
15,000_to_19,999    2209
20,000_to_24,999    2463
25,000_to_29,999    2443
30,000_to_34,999    2100
35,000_to_39,999    2118
Name: 2961, dtype: int32
8 9
less_than_10,000     555
10,000_to_14,999     502
15,000_to_19,999     615
20,000_to_24,999     528
25,000_to_29,999    1060
30,000_to_34,999     630
35,000_to_39,999     695
40,000_to_44,999     814
Name: 2962, dtype: int32
9 6
less_than_10,000    361
10,000_to_14,999    171
15,000_to_19,999    208
20,000_to_24,999    276
25,000_to_29,999    129
Name: 2963, dtype: int32
10 9
less_than_10,000    1110
10,000_to_14,999     891
15,000_to_19,999    1171
20,000_to_24,999     942
25,000_to_29,999    1145
30,000_to_34,999    1174
35,000_to_39,999    1296
40,000_to_44,999    1215
Name: 2964, dtype: int32
11 8
less_than_10,000    69
10,000_to_14,999    39
15,000_to_19,999    49
20,000_to_24,999    54
25,000_to_29,999    69
30,000_to_34,999    65
35,000_to_39,999    48
Name: 2965, dtype: int32
12 8
less_than_10,000    1710
10,000_to_14,999    1062
15,000_to_19,999    1258
20,000_to_24,999    1844
25,000_to_29,999    1805
30,000_to_34,999    1469
35,000_to_39,999    1816
Name: 2966, dtype: int32
13 7
less_than_10,000    2199
10,000_to_14,999    1635
15,000_to_19,999    1553
20,000_to_24,999    1611
25,000_to_29,999    1665
30,000_to_34,999    1597
Name: 2967, dtype: int32
14 10
less_than_10,000    1706
10,000_to_14,999    1159
15,000_to_19,999    1153
20,000_to_24,999    1302
25,000_to_29,999    1412
30,000_to_34,999    1475
35,000_to_39,999    1353
40,000_to_44,999    1466
45,000_to_49,999    1691
Name: 2968, dtype: int32
15 8
less_than_10,000    937
10,000_to_14,999    773
15,000_to_19,999    551
20,000_to_24,999    661
25,000_to_29,999    647
30,000_to_34,999    805
35,000_to_39,999    858
Name: 2969, dtype: int32
16 11
less_than_10,000    39569
10,000_to_14,999    23100
15,000_to_19,999    22928
20,000_to_24,999    22972
25,000_to_29,999    25099
30,000_to_34,999    26325
35,000_to_39,999    26585
40,000_to_44,999    27824
45,000_to_49,999    25888
50,000_to_59,999    53795
Name: 2970, dtype: int32
17 10
less_than_10,000    4981
10,000_to_14,999    3246
15,000_to_19,999    3503
20,000_to_24,999    3481
25,000_to_29,999    3732
30,000_to_34,999    3911
35,000_to_39,999    4024
40,000_to_44,999    3799
45,000_to_49,999    3726
Name: 2971, dtype: int32
18 8
less_than_10,000    1795
10,000_to_14,999     900
15,000_to_19,999     869
20,000_to_24,999     857
25,000_to_29,999     775
30,000_to_34,999     776
35,000_to_39,999     740
Name: 2972, dtype: int32
19 8
less_than_10,000    589
10,000_to_14,999    406
15,000_to_19,999    384
20,000_to_24,999    322
25,000_to_29,999    458
30,000_to_34,999    581
35,000_to_39,999    527
Name: 2973, dtype: int32
20 8
less_than_10,000    1959
10,000_to_14,999    1645
15,000_to_19,999    1673
20,000_to_24,999    1700
25,000_to_29,999    1406
30,000_to_34,999    1936
35,000_to_39,999    1706
Name: 2974, dtype: int32
21 8
less_than_10,000    249
10,000_to_14,999    207
15,000_to_19,999    264
20,000_to_24,999    238
25,000_to_29,999    155
30,000_to_34,999    290
35,000_to_39,999    247
Name: 2975, dtype: int32
22 8
less_than_10,000    1391
10,000_to_14,999    1022
15,000_to_19,999    1332
20,000_to_24,999    1284
25,000_to_29,999    1305
30,000_to_34,999    1070
35,000_to_39,999    1182
Name: 2976, dtype: int32
23 7
less_than_10,000    1295
10,000_to_14,999    1347
15,000_to_19,999    1156
20,000_to_24,999    1188
25,000_to_29,999     787
30,000_to_34,999    1074
Name: 2977, dtype: int32
24 7
less_than_10,000    723
10,000_to_14,999    594
15,000_to_19,999    614
20,000_to_24,999    675
25,000_to_29,999    503
30,000_to_34,999    474
Name: 2978, dtype: int32
25 7
less_than_10,000    481
10,000_to_14,999    298
15,000_to_19,999    300
20,000_to_24,999    305
25,000_to_29,999    300
30,000_to_34,999    449
Name: 2979, dtype: int32
26 10
less_than_10,000    16092
10,000_to_14,999     9760
15,000_to_19,999    10817
20,000_to_24,999    11374
25,000_to_29,999    12530
30,000_to_34,999    13003
35,000_to_39,999    11995
40,000_to_44,999    14500
45,000_to_49,999    12745
Name: 2980, dtype: int32
27 9
less_than_10,000    461
10,000_to_14,999    324
15,000_to_19,999    401
20,000_to_24,999    392
25,000_to_29,999    414
30,000_to_34,999    334
35,000_to_39,999    302
40,000_to_44,999    344
Name: 2981, dtype: int32
28 10
less_than_10,000    3042
10,000_to_14,999    1725
15,000_to_19,999    1624
20,000_to_24,999    2027
25,000_to_29,999    1857
30,000_to_34,999    2024
35,000_to_39,999    2213
40,000_to_44,999    2604
45,000_to_49,999    1942
Name: 2982, dtype: int32
29 9
less_than_10,000    271
10,000_to_14,999    287
15,000_to_19,999    156
20,000_to_24,999    222
25,000_to_29,999    212
30,000_to_34,999    249
35,000_to_39,999    301
40,000_to_44,999    164
Name: 2983, dtype: int32
30 11
less_than_10,000    10673
10,000_to_14,999     7175
15,000_to_19,999     7761
20,000_to_24,999     8621
25,000_to_29,999     8178
30,000_to_34,999     9146
35,000_to_39,999     9557
40,000_to_44,999    10463
45,000_to_49,999     9695
50,000_to_59,999    20185
Name: 2984, dtype: int32
31 8
less_than_10,000    13072
10,000_to_14,999     9388
15,000_to_19,999     9279
20,000_to_24,999     9800
25,000_to_29,999    10031
30,000_to_34,999    10720
35,000_to_39,999    10871
Name: 2985, dtype: int32
32 7
less_than_10,000    1344
10,000_to_14,999    1104
15,000_to_19,999    1015
20,000_to_24,999     942
25,000_to_29,999     941
30,000_to_34,999     939
Name: 2986, dtype: int32
33 10
less_than_10,000    5203
10,000_to_14,999    3577
15,000_to_19,999    3799
20,000_to_24,999    3848
25,000_to_29,999    3517
30,000_to_34,999    3943
35,000_to_39,999    4187
40,000_to_44,999    4915
45,000_to_49,999    4143
Name: 2987, dtype: int32
34 8
less_than_10,000     98
10,000_to_14,999     35
15,000_to_19,999     93
20,000_to_24,999     94
25,000_to_29,999    109
30,000_to_34,999    136
35,000_to_39,999     71
Name: 2988, dtype: int32
35 9
less_than_10,000    1525
10,000_to_14,999    1026
15,000_to_19,999     982
20,000_to_24,999     947
25,000_to_29,999    1184
30,000_to_34,999    1199
35,000_to_39,999    1110
40,000_to_44,999    1023
Name: 2989, dtype: int32
36 9
less_than_10,000    5890
10,000_to_14,999    3444
15,000_to_19,999    3784
20,000_to_24,999    3922
25,000_to_29,999    4097
30,000_to_34,999    4220
35,000_to_39,999    3451
40,000_to_44,999    3566
Name: 2990, dtype: int32
37 6
less_than_10,000    2733
10,000_to_14,999    1179
15,000_to_19,999    1250
20,000_to_24,999    1040
25,000_to_29,999    1018
Name: 2991, dtype: int32
38 7
less_than_10,000    4817
10,000_to_14,999    4406
15,000_to_19,999    4198
20,000_to_24,999    4545
25,000_to_29,999    4412
30,000_to_34,999    5041
Name: 2992, dtype: int32