# How Many Washingtonians are Low- or Middle- Income?

In [1]:
# import necessary packages
import pandas as pd
import numpy as np

## State-level data

Data Source: 2018 American Community Survey via IPUMS NHGIS, University of Minnesota, www.nhgis.org

In [2]:
states = pd.read_csv('../data/2018_state.csv')

In [3]:
wa = states.loc[states['STATE'] == 'Washington']

In [4]:
wa

,GISJOIN,YEAR,REGIONA,DIVISIONA,STATE,STATEA,COUNTYA,COUSUBA,PLACEA,TRACTA,...,AJY9M017,AJZAM001,AJ0EM001,AJ1CM001,AJ1CM002,AJ1CM003,AJ1CM004,AJ1CM005,AJ1CM006,AJ1CM007
48,G530,2014-2018,NaN,NaN,Washington,53,NaN,NaN,NaN,NaN,...,2752,308,168,1574,6117,5945,6919,3629,1425,6190

### ratio of income to poverty level - population for whom poverty status is determined

In [5]:
income_to_pov = wa.loc[:, 'AJY4E001': 'AJY4E008']
income_to_pov

   AJY4E001 AJY4E002 AJY4E003 AJY4E004 AJY4E005 AJY4E006 AJY4E007 AJY4E008
48  7161708   377106   444515   255057   273495   395859   177498  5238178

In [6]:
income_to_pov.columns = ['Total', 
        'Under .50',
        '.50 to .99',
        '1.00 to 1.24',
        '1.25 to 1.49',
        '1.50 to 1.84',
        '1.85 to 1.99',
        '2.00 and over']
income_to_pov.columns = income_to_pov.columns.str.replace(' ', '_').str.lower()

In [7]:
income_to_pov = income_to_pov.astype(int)

In [8]:
income_to_pov

,total,under_.50,.50_to_.99,1.00_to_1.24,1.25_to_1.49,1.50_to_1.84,1.85_to_1.99,2.00_and_over
48,7161708,377106,444515,255057,273495,395859,177498,5238178

In [30]:
less_than_2x_poverty = sum(income_to_pov.loc[48, 'under_.50':'1.85_to_1.99'])

In [31]:
less_than_2x_poverty

1923530

In [32]:
less_than_2x_poverty / income_to_pov['total']

48    0.268585
Name: total, dtype: float64

### household income

In [11]:
house_income = wa.loc[:,'AJY9E001':'AJY9E017'].astype(int)

In [12]:
house_income.columns = ['Total',
        'Less than $10,000',
        '$10,000 to $14,999',
        '$15,000 to $19,999',
        '$20,000 to $24,999',
        '$25,000 to $29,999',
        '$30,000 to $34,999',
        '$35,000 to $39,999',
        '$40,000 to $44,999',
        '$45,000 to $49,999',
        '$50,000 to $59,999',
        '$60,000 to $74,999',
        '$75,000 to $99,999',
        '$100,000 to $124,999',
        '$125,000 to $149,999',
        '$150,000 to $199,999',
        '$200,000 or more']
house_income.columns = house_income.columns.str.replace(' ', '_').str.replace('$', '').str.lower()

In [13]:
house_income

,total,"less_than_10,000","10,000_to_14,999","15,000_to_19,999","20,000_to_24,999","25,000_to_29,999","30,000_to_34,999","35,000_to_39,999","40,000_to_44,999","45,000_to_49,999","50,000_to_59,999","60,000_to_74,999","75,000_to_99,999","100,000_to_124,999","125,000_to_149,999","150,000_to_199,999","200,000_or_more"
48,2800423,144695,95789,99129,104429,107027,112120,110303,115143,105170,210273,286122,381845,281885,196331,215941,234221

In [15]:
people_per_house = income_to_pov.loc[48, 'total']/house_income.loc[48, 'total']
print(f"Average people per household: {income_to_pov.loc[48, 'total']/house_income.loc[48, 'total']}")

Average people per household: 2.5573665121304887

In [16]:
median_house_income = wa.loc[:, 'AJZAE001'].astype(int)
median_house_income = median_house_income[48]
median_house_income

70116

In [17]:
print(f"""HUD income levels:
low (80% median): {median_house_income*.8}
very low (50% median): {median_house_income*.5}
extremely low(30% median): {median_house_income*.3}""")

HUD income levels:
low (80% median): 56092.8
very low (50% median): 35058.0
extremely low(30% median): 21034.8

In [18]:
low_income = (sum(house_income.loc[48, 'less_than_10,000': '45,000_to_49,999']), 
              sum(house_income.loc[48, 'less_than_10,000': '50,000_to_59,999']))

In [19]:
print(f"""Households @ HUD income levels:
low: {low_income[0]} - {low_income[1]}
very low: {sum(house_income.loc[48, 'less_than_10,000': '30,000_to_34,999'])}
extremely low: {sum(house_income.loc[48, 'less_than_10,000': '15,000_to_19,999'])}""")

Households @ HUD income levels:
low: 993805 - 1204078
very low: 663189
extremely low: 339613

In [20]:
print(f"proportion of households that are low income: {low_income[0]/house_income.loc[48, 'total']} - {low_income[1]/house_income.loc[48, 'total']}")

proportion of households that are low income: 0.35487674540596187 - 0.4299629020330143

In [21]:
print(f"people in low income households based on avg household size: {low_income[0]*2.6} - {low_income[1]*2.6}")

people in low income households based on avg household size: 2583893.0 - 3130602.8000000003

## Low-moderate Income Households 

80% of Washington State Median household income

In [157]:
income_80 = .8 * median_house_income
income_75 = .75 * median_house_income
income_70 = .70 * median_house_income
income_65 = .65 * median_house_income
income_60 = .60 * median_house_income
income_55 = .55 * median_house_income
income_50 = .50 * median_house_income

In [158]:
wa_households = wa.loc[:, 'STATE':'STATEA'].copy()

In [159]:
wa_households['80_threshold'] = income_80
wa_households['75_threshold'] = income_75
wa_households['70_threshold'] = income_70
wa_households['65_threshold'] = income_65
wa_households['60_threshold'] = income_60
wa_households['55_threshold'] = income_55
wa_households['50_threshold'] = income_50
wa_households['avg_household_count'] = people_per_house

In [160]:
wa_households = est_households(wa_households, '80', income_cols, house_income)
wa_households = est_households(wa_households, '75', income_cols, house_income)
wa_households = est_households(wa_households, '70', income_cols, house_income)
wa_households = est_households(wa_households, '65', income_cols, house_income)
wa_households = est_households(wa_households, '60', income_cols, house_income)
wa_households = est_households(wa_households, '55', income_cols, house_income)
wa_households = est_households(wa_households, '50', income_cols, house_income)


# wa_people = wa_households * wa_households['avg_household_count'], 0)

In [161]:
wa_households.T

                              48
STATE                 Washington
STATEA                        53
80_threshold             56092.8
75_threshold               52587
70_threshold             49081.2
65_threshold             45575.4
60_threshold             42069.6
55_threshold             38563.8
50_threshold               35058
avg_household_count      2.55737
total_hh_80          1.12193e+06
total_hh_75          1.04821e+06
total_hh_70               974496
total_hh_65               900740
total_hh_60               821162
total_hh_55               741824
total_hh_50               664469

In [176]:
wa_people = wa_households.loc[:, 'total_hh_80':'total_hh_50'] * wa_households.loc[48, 'avg_household_count']
wa_people.columns = [col.replace('_hh_', '') for col in wa_people.columns]

In [177]:
wa_people

,total80,total75,total70,total65,total60,total55,total50
48,2.869194e+06,2.680652e+06,2.492144e+06,2.303523e+06,2.100011e+06,1.897117e+06,1.699290e+06

In [180]:
print(f"% of washingtonias in households that earn less than 80% of state median income: {wa_people.loc[48, 'total80']/income_to_pov.loc[48, 'total']}")

% of washingtonias in households that earn less than 80% of state median income: 0.400629814222574

## County Level Data

In [42]:
counties = pd.read_csv('../data/2018_county.csv', encoding='latin-1')

In [43]:
wa_counties = counties[counties['STATE'] == 'Washington']

In [44]:
# check for correct county count
wa_counties.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 39 entries, 2954 to 2992
Columns: 108 entries, GISJOIN to AJ1CM007
dtypes: object(108)
memory usage: 33.2+ KB

In [45]:
wa_counties.head()

,GISJOIN,YEAR,REGIONA,DIVISIONA,STATE,STATEA,COUNTY,COUNTYA,COUSUBA,PLACEA,...,AJY9M017,AJZAM001,AJ0EM001,AJ1CM001,AJ1CM002,AJ1CM003,AJ1CM004,AJ1CM005,AJ1CM006,AJ1CM007
2954,G5300010,2014-2018,NaN,NaN,Washington,53,Adams County,001,NaN,NaN,...,60,5961,1088,90,298,298,317,181,19,279
2955,G5300030,2014-2018,NaN,NaN,Washington,53,Asotin County,003,NaN,NaN,...,85,2558,1546,97,366,366,410,211,22,370
2956,G5300050,2014-2018,NaN,NaN,Washington,53,Benton County,005,NaN,NaN,...,358,2031,666,290,1074,1060,1091,521,111,1068
2957,G5300070,2014-2018,NaN,NaN,Washington,53,Chelan County,007,NaN,NaN,...,217,2615,1085,202,807,810,814,357,37,826
2958,G5300090,2014-2018,NaN,NaN,Washington,53,Clallam County,009,NaN,NaN,...,192,1998,952,191,758,746,799,274,82,791

In [46]:
c_populations = wa_counties.loc[:,['COUNTY','AJWME001']]
c_populations.columns = ['county', 'population']
c_populations['population'] = c_populations['population'].astype(int)
c_populations

                   county  population
2954         Adams County       19452
2955        Asotin County       22337
2956        Benton County      194168
2957        Chelan County       75757
2958       Clallam County       74487
2959         Clark County      465384
2960      Columbia County        4001
2961       Cowlitz County      105112
2962       Douglas County       41371
2963         Ferry County        7576
2964      Franklin County       90660
2965      Garfield County        2224
2966         Grant County       94860
2967  Grays Harbor County       71967
2968        Island County       81636
2969     Jefferson County       30856
2970          King County     2163257
2971        Kitsap County      262475
2972      Kittitas County       44825
2973     Klickitat County       21396
2974         Lewis County       76947
2975       Lincoln County       10435
2976         Mason County       62627
2977      Okanogan County       41638
2978       Pacific County       21281
2979  Pend Oreille County       13219
2980        Pierce County      859840
2981      San Juan County       16473
2982        Skagit County      123907
2983      Skamania County       11620
2984     Snohomish County      786620
2985       Spokane County      497875
2986       Stevens County       44214
2987      Thurston County      274684
2988     Wahkiakum County        4189
2989   Walla Walla County       60236
2990       Whatcom County      216812
2991       Whitman County       48593
2992        Yakima County      249325

### Household Income

In [47]:
c_house_income = wa_counties.loc[:,'AJY9E001':'AJY9E017'].astype(int)

In [48]:
c_house_income.columns = ['Total',
        'Less than $10,000',
        '$10,000 to $14,999',
        '$15,000 to $19,999',
        '$20,000 to $24,999',
        '$25,000 to $29,999',
        '$30,000 to $34,999',
        '$35,000 to $39,999',
        '$40,000 to $44,999',
        '$45,000 to $49,999',
        '$50,000 to $59,999',
        '$60,000 to $74,999',
        '$75,000 to $99,999',
        '$100,000 to $124,999',
        '$125,000 to $149,999',
        '$150,000 to $199,999',
        '$200,000 or more']
c_house_income.columns = c_house_income.columns.str.replace(' ', '_').str.replace('$', '').str.lower()

In [49]:
c_populations['avg_household_count'] = c_populations['population']/c_house_income['total']

In [50]:
c_house_income

,total,"less_than_10,000","10,000_to_14,999","15,000_to_19,999","20,000_to_24,999","25,000_to_29,999","30,000_to_34,999","35,000_to_39,999","40,000_to_44,999","45,000_to_49,999","50,000_to_59,999","60,000_to_74,999","75,000_to_99,999","100,000_to_124,999","125,000_to_149,999","150,000_to_199,999","200,000_or_more"
2954,5881,386,335,358,431,343,198,328,409,182,430,701,878,383,185,216,118
2955,9171,528,480,637,390,529,612,485,414,451,876,822,1276,722,300,423,226
2956,70983,3291,2945,2723,3138,3069,2884,2725,2733,2783,5926,8062,9785,7041,4638,4919,4321
2957,28038,1820,947,1138,1575,1418,1528,1123,1870,1209,2174,3198,3356,2433,1523,1516,1210
2958,32732,2034,1952,1935,1691,1943,1906,1639,1782,1510,2637,3393,4161,2289,1472,1428,960
2959,171522,6662,4688,5274,6640,6228,6932,7225,7406,6739,13693,18513,25055,19111,13526,12522,11308
2960,1758,120,123,115,87,102,48,128,63,73,98,206,233,129,62,76,95
2961,41397,2954,1892,2209,2463,2443,2100,2118,1951,1759,3156,4632,5324,3387,1762,2050,1197
2962,15064,555,502,615,528,1060,630,695,814,694,1392,1819,2352,1110,1068,746,484
2963,3097,361,171,208,276,129,174,141,268,93,203,314,306,136,141,125,51
2964,26316,1110,891,1171,942,1145,1174,1296,1215,1224,2463,3150,3996,2982,1405,1119,1033
2965,997,69,39,49,54,69,65,48,26,62,119,140,129,72,39,13,4
2966,30651,1710,1062,1258,1844,1805,1469,1816,1256,1646,2864,3179,4610,2326,1702,1305,799
2967,28263,2199,1635,1553,1611,1665,1597,1265,1802,1403,2269,3248,3243,2253,1079,742,699
2968,34364,1706,1159,1153,1302,1412,1475,1353,1466,1691,3000,4356,4795,3490,2119,2149,1738
2969,14239,937,773,551,661,647,805,858,466,735,1398,1626,1574,1229,789,584,606
2970,865627,39569,23100,22928,22972,25099,26325,26585,27824,25888,53795,74638,107024,92460,72505,92991,131924
2971,101662,4981,3246,3503,3481,3732,3911,4024,3799,3726,7898,10882,15893,11581,7116,6906,6983
2972,18003,1795,900,869,857,775,776,740,839,754,1535,2026,2500,1512,707,851,567
2973,8539,589,406,384,322,458,581,527,261,488,616,1129,1208,775,300,324,171
2974,30262,1959,1645,1673,1700,1406,1936,1706,1769,1294,2246,3400,4105,2429,1327,1105,562
2975,4485,249,207,264,238,155,290,247,327,239,337,506,524,384,204,231,83
2976,23535,1391,1022,1332,1284,1305,1070,1182,997,809,2393,2591,3351,2011,1008,1166,623
2977,17527,1295,1347,1156,1188,787,1074,910,765,1176,1419,1972,1824,1260,654,429,271
2978,9087,723,594,614,675,503,474,469,507,520,725,860,1144,604,291,274,110
2979,5782,481,298,300,305,300,449,281,241,325,558,506,788,327,209,284,130
2980,317699,16092,9760,10817,11374,12530,13003,11995,14500,12745,26883,35339,47126,33340,22067,22186,17942
2981,8025,461,324,401,392,414,334,302,344,385,614,867,1022,705,447,447,566
2982,47937,3042,1725,1624,2027,1857,2024,2213,2604,1942,3801,5308,7366,4071,2945,2809,2579
2983,4685,271,287,156,222,212,249,301,164,137,385,526,520,620,261,237,137
2984,289737,10673,7175,7761,8621,8178,9146,9557,10463,9695,20185,29489,43981,35555,25891,28195,25172
2985,198489,13072,9388,9279,9800,10031,10720,10871,9216,8891,15702,20798,26564,16284,10330,9431,8112
2986,17433,1344,1104,1015,942,941,939,963,748,860,1578,1913,2162,947,862,678,437
2987,108070,5203,3577,3799,3848,3517,3943,4187,4915,4143,9124,12377,16988,11331,8086,7498,5534
2988,1844,98,35,93,94,109,136,71,117,59,208,231,179,258,74,26,56
2989,22304,1525,1026,982,947,1184,1199,1110,1023,1045,1651,2809,2680,2088,979,1217,839
2990,85008,5890,3444,3784,3922,4097,4220,3451,3566,3262,7267,9519,11818,7290,4576,5262,3640
2991,17910,2733,1179,1250,1040,1018,683,635,817,820,1251,1548,1878,1240,649,619,550
2992,82300,4817,4406,4198,4545,4412,5041,4733,5396,3713,7404,9529,10127,5720,3033,2842,2384

In [51]:
c_populations[['county','avg_household_count']]

                   county  avg_household_count
2954         Adams County             3.307601
2955        Asotin County             2.435612
2956        Benton County             2.735416
2957        Chelan County             2.701940
2958       Clallam County             2.275663
2959         Clark County             2.713261
2960      Columbia County             2.275882
2961       Cowlitz County             2.539121
2962       Douglas County             2.746349
2963         Ferry County             2.446238
2964      Franklin County             3.445052
2965      Garfield County             2.230692
2966         Grant County             3.094842
2967  Grays Harbor County             2.546333
2968        Island County             2.375626
2969     Jefferson County             2.167006
2970          King County             2.499064
2971        Kitsap County             2.581840
2972      Kittitas County             2.489863
2973     Klickitat County             2.505680
2974         Lewis County             2.542694
2975       Lincoln County             2.326644
2976         Mason County             2.661016
2977      Okanogan County             2.375649
2978       Pacific County             2.341917
2979  Pend Oreille County             2.286233
2980        Pierce County             2.706461
2981      San Juan County             2.052710
2982        Skagit County             2.584788
2983      Skamania County             2.480256
2984     Snohomish County             2.714945
2985       Spokane County             2.508325
2986       Stevens County             2.536224
2987      Thurston County             2.541723
2988     Wahkiakum County             2.271692
2989   Walla Walla County             2.700681
2990       Whatcom County             2.550489
2991       Whitman County             2.713177
2992        Yakima County             3.029465

In [52]:
c_median_house_income.dtypes

county               object
med_house_income      int32
low_threshold       float64
v_low_threshold     float64
x_low_threshold     float64
dtype: object

In [53]:
c_median_house_income = wa_counties.loc[:, ['COUNTY','AJZAE001']]
c_median_house_income.columns = ['county', 'med_house_income']
c_median_house_income['med_house_income'] = c_median_house_income['med_house_income'].astype(int)
c_median_house_income['low_threshold'] = .8 * c_median_house_income['med_house_income']
c_median_house_income['v_low_threshold'] = .5 * c_median_house_income['med_house_income']
c_median_house_income['x_low_threshold'] = .3 * c_median_house_income['med_house_income']
c_median_house_income

county              object
med_house_income     int32
dtype: object

,county,med_house_income,low_threshold,v_low_threshold,x_low_threshold
2954,Adams County,49142,39313.6,24571.0,14742.6
2955,Asotin County,50423,40338.4,25211.5,15126.9
2956,Benton County,65650,52520.0,32825.0,19695.0
2957,Chelan County,56135,44908.0,28067.5,16840.5
2958,Clallam County,49913,39930.4,24956.5,14973.9
2959,Clark County,71636,57308.8,35818.0,21490.8
2960,Columbia County,51111,40888.8,25555.5,15333.3
2961,Cowlitz County,51752,41401.6,25876.0,15525.6
2962,Douglas County,60452,48361.6,30226.0,18135.6
2963,Ferry County,41924,33539.2,20962.0,12577.2
2964,Franklin County,62002,49601.6,31001.0,18600.6
2965,Garfield County,52525,42020.0,26262.5,15757.5
2966,Grant County,54982,43985.6,27491.0,16494.6
2967,Grays Harbor County,47770,38216.0,23885.0,14331.0
2968,Island County,64809,51847.2,32404.5,19442.7
2969,Jefferson County,54471,43576.8,27235.5,16341.3
2970,King County,89418,71534.4,44709.0,26825.4
2971,Kitsap County,71610,57288.0,35805.0,21483.0
2972,Kittitas County,55193,44154.4,27596.5,16557.9
2973,Klickitat County,54056,43244.8,27028.0,16216.8
2974,Lewis County,50216,40172.8,25108.0,15064.8
2975,Lincoln County,50744,40595.2,25372.0,15223.2
2976,Mason County,55726,44580.8,27863.0,16717.8
2977,Okanogan County,45808,36646.4,22904.0,13742.4
2978,Pacific County,44846,35876.8,22423.0,13453.8
2979,Pend Oreille County,48583,38866.4,24291.5,14574.9
2980,Pierce County,67868,54294.4,33934.0,20360.4
2981,San Juan County,60711,48568.8,30355.5,18213.3
2982,Skagit County,62865,50292.0,31432.5,18859.5
2983,Skamania County,58598,46878.4,29299.0,17579.4
2984,Snohomish County,82751,66200.8,41375.5,24825.3
2985,Spokane County,54852,43881.6,27426.0,16455.6
2986,Stevens County,49200,39360.0,24600.0,14760.0
2987,Thurston County,69592,55673.6,34796.0,20877.6
2988,Wahkiakum County,54085,43268.0,27042.5,16225.5
2989,Walla Walla County,56533,45226.4,28266.5,16959.9
2990,Whatcom County,59285,47428.0,29642.5,17785.5
2991,Whitman County,42163,33730.4,21081.5,12648.9
2992,Yakima County,49871,39896.8,24935.5,14961.3

In [54]:
c_house_income_thresholds = c_house_income.copy()

In [65]:
# extracting start and end values from column names
income_cols = []
for i, col in enumerate(c_house_income_thresholds.columns):
    splits = col.replace(',', '').split('_')
    income_range = [np.nan, np.nan]
    if splits[0].isnumeric():
        income_range[0] = int(splits[0])
    if len(splits)>1 and splits[2].isnumeric():
        income_range[1] = int(splits[2])
    income_cols.append(income_range)

In [66]:
income_cols

[[nan, nan],
 [nan, 10000],
 [10000, 14999],
 [15000, 19999],
 [20000, 24999],
 [25000, 29999],
 [30000, 34999],
 [35000, 39999],
 [40000, 44999],
 [45000, 49999],
 [50000, 59999],
 [60000, 74999],
 [75000, 99999],
 [100000, 124999],
 [125000, 149999],
 [150000, 199999],
 [200000, nan]]

In [67]:
def get_col(n, cols):
    """returns the index and range of the column where n falls within the column range
    params:
      n: value
      cols: list of lists [[col0_min, col0_max], [col1_min, col1_max], [col2_min, col2_max], ...]
    returns:
      (index, range_min, range_max)"""
    for i, col in enumerate(cols):
        if (i == 0) or (n > col[1] and not np.isnan(col[1])):
            continue
        return i

In [68]:
def cal_partial_col(threshold, col_min, col_max, n_hh):
    """returns the number of households proportionate to the location of the threshold within the range of incomes
    """
    return (threshold - col_min) / (col_max - col_min) * n_hh

In [156]:
def est_households(est_hh, threshold, income_cols, c_house_income):
    """Estimates the number of households with incomes below the threshold
    
    params:
      est_hh: data frame with column [threshold name]_threshold """
    est_hh['column_i'] = est_hh[threshold +'_threshold'].apply(lambda x: get_col(x, cols))
    est_hh['col_min'] = [cols[i][0] for i in est_hh['column_i']]
    est_hh['col_max'] = [cols[i][1] for i in est_hh['column_i']]
    est_hh['sum_below'] = [sum(c_house_income.iloc[index, 1:column]) 
                               for index, column in enumerate(est_hh['column_i'])]
    est_hh['partial_ratio'] = ((est_hh[threshold +'_threshold'] - est_hh['col_min']) /
                             (est_hh['col_max'] - est_hh['col_min']))
    est_hh['n_hh_in_band'] = [c_house_income.iloc[index, column] for index, column in enumerate(est_hh['column_i'])]
    est_hh['total_hh_' + threshold] = est_hh['sum_below'] + est_hh['n_hh_in_band']*est_hh['partial_ratio']
    return est_hh.drop(columns=['column_i', 'col_min', 'col_max', 'sum_below', 'partial_ratio', 'n_hh_in_band'])

In [145]:
est_hh = c_median_house_income.copy()
est_hh = est_households(est_hh, 'low', income_cols, c_house_income)
est_hh = est_households(est_hh, 'v_low', income_cols, c_house_income)
est_hh = est_households(est_hh, 'x_low', income_cols, c_house_income)

In [146]:
est_hh['population_low'] = round(est_hh['total_hh_low'] * c_populations['avg_household_count'], 0)
est_hh['population_v_low'] = round(est_hh['total_hh_v_low'] * c_populations['avg_household_count'], 0)
est_hh['population_x_low'] = round(est_hh['total_hh_x_low'] * c_populations['avg_household_count'], 0)

In [147]:
est_hh

,county,med_house_income,low_threshold,v_low_threshold,x_low_threshold,column_i,col_min,col_max,sum_below,partial_ratio,n_hh_in_band,total_hh_low,total_hh_v_low,total_hh_x_low,population_low,population_v_low,population_x_low
2954,Adams County,49142,39313.6,24571.0,14742.6,2,10000,14999,386,0.948710,335,2334.028766,1473.099020,703.817764,7720.0,4872.0,2328.0
2955,Asotin County,50423,40338.4,25211.5,15126.9,3,15000,19999,1008,0.025385,637,3689.025125,2057.381176,1024.170294,8985.0,5011.0,2494.0
2956,Benton County,65650,52520.0,32825.0,19695.0,3,15000,19999,6236,0.939188,2723,27784.501350,16795.785957,8793.408482,76002.0,45943.0,24054.0
2957,Chelan County,56135,44908.0,28067.5,16840.5,3,15000,19999,2767,0.368174,1138,11384.959192,6350.117023,3185.981596,30761.0,17158.0,8608.0
2958,Clallam County,49913,39930.4,24956.5,14973.9,2,10000,14999,2034,0.994979,1952,13077.508422,7597.623625,3976.199000,29760.0,17290.0,9048.0
2959,Clark County,71636,57308.8,35818.0,21490.8,4,20000,24999,16624,0.298220,6640,67802.940734,37606.246449,18604.178436,183967.0,102036.0,50478.0
2960,Columbia County,51111,40888.8,25555.5,15333.3,3,15000,19999,243,0.066673,115,734.201120,456.334467,250.667433,1671.0,1039.0,570.0
2961,Cowlitz County,51752,41401.6,25876.0,15525.6,3,15000,19999,4846,0.105141,2209,16726.013723,9946.099220,5078.256531,42469.0,25254.0,12894.0
2962,Douglas County,60452,48361.6,30226.0,18135.6,3,15000,19999,1057,0.627245,615,5865.683417,3288.481696,1442.755951,16109.0,9031.0,3962.0
2963,Ferry County,41924,33539.2,20962.0,12577.2,2,10000,14999,361,0.515543,171,1268.188798,793.113023,449.157872,3102.0,1940.0,1099.0
2964,Franklin County,62002,49601.6,31001.0,18600.6,3,15000,19999,2001,0.720264,1171,10070.697019,5494.081816,2844.429206,34694.0,18927.0,9799.0
2965,Garfield County,52525,42020.0,26262.5,15757.5,3,15000,19999,108,0.151530,49,403.506101,228.425985,115.424985,900.0,510.0,257.0
2966,Grant County,54982,43985.6,27491.0,16494.6,3,15000,19999,2772,0.298980,1258,11965.382997,6773.430886,3148.116583,37031.0,20963.0,9743.0
2967,Grays Harbor County,47770,38216.0,23885.0,14331.0,2,10000,14999,2199,0.866373,1635,11073.810762,6638.997399,3615.520304,28198.0,16905.0,9206.0
2968,Island County,64809,51847.2,32404.5,19442.7,3,15000,19999,2865,0.888718,1153,13271.215422,7441.469394,3889.691558,31527.0,17678.0,9240.0
2969,Jefferson County,54471,43576.8,27235.5,16341.3,3,15000,19999,1710,0.268314,551,5565.424445,3211.331566,1857.840828,12060.0,6959.0,4026.0
2970,King County,89418,71534.4,44709.0,26825.4,5,25000,29999,108569,0.365153,25099,351482.462978,212787.885177,117733.975915,878377.0,531770.0,294225.0
2971,Kitsap County,71610,57288.0,35805.0,21483.0,4,20000,24999,11730,0.296659,3481,40159.638064,23501.993599,12762.671134,103686.0,60678.0,32951.0
2972,Kittitas County,55193,44154.4,27596.5,16557.9,3,15000,19999,2695,0.311642,869,7409.247770,4823.538008,2965.817183,18448.0,12010.0,7384.0
2973,Klickitat County,54056,43244.8,27028.0,16216.8,3,15000,19999,995,0.243409,384,3436.412442,1886.801960,1088.468934,8611.0,4728.0,2727.0
2974,Lewis County,50216,40172.8,25108.0,15064.8,3,15000,19999,3604,0.012963,1673,12086.148870,7007.375675,3625.686417,30731.0,17818.0,9219.0
2975,Lincoln County,50744,40595.2,25372.0,15223.2,3,15000,19999,456,0.044649,264,1688.933867,969.534307,467.787317,3930.0,2256.0,1088.0
2976,Mason County,55726,44580.8,27863.0,16717.8,3,15000,19999,2413,0.343629,1332,9499.594239,5776.392478,2870.713463,25279.0,15371.0,7639.0
2977,Okanogan County,45808,36646.4,22904.0,13742.4,2,10000,14999,1295,0.748630,1347,7146.704741,4488.128426,2303.404241,16978.0,10662.0,5472.0
2978,Pacific County,44846,35876.8,22423.0,13453.8,2,10000,14999,723,0.690898,594,3665.260292,2258.170434,1133.393519,8584.0,5288.0,2654.0
2979,Pend Oreille County,48583,38866.4,24291.5,14574.9,2,10000,14999,481,0.915163,298,2350.335147,1340.833867,753.718584,5373.0,3065.0,1723.0
2980,Pierce County,67868,54294.4,33934.0,20360.4,4,20000,24999,36669,0.072094,11374,124361.790099,70805.806961,37489.001920,336580.0,191633.0,101463.0
2981,San Juan County,60711,48568.8,30355.5,18213.3,3,15000,19999,785,0.642789,401,3246.852571,2015.752150,1042.758212,6665.0,4138.0,2140.0
2982,Skagit County,62865,50292.0,31432.5,18859.5,3,15000,19999,4767,0.772054,1624,19169.000300,10854.991998,6020.816363,49548.0,28058.0,15563.0
2983,Skamania County,58598,46878.4,29299.0,17579.4,3,15000,19999,558,0.515983,156,1913.478456,1118.314063,638.493379,4746.0,2774.0,1584.0
2984,Snohomish County,82751,66200.8,41375.5,24825.3,4,20000,24999,25609,0.965253,8621,113645.172158,63989.947089,33930.446549,308540.0,173729.0,92119.0
2985,Spokane County,54852,43881.6,27426.0,16455.6,3,15000,19999,22460,0.291178,9279,80316.996319,46407.014803,25161.842849,201461.0,116404.0,63114.0
2986,Stevens County,49200,39360.0,24600.0,14760.0,2,10000,14999,1344,0.952190,1104,7124.903981,4329.813363,2395.218244,18070.0,10981.0,6075.0
2987,Thurston County,69592,55673.6,34796.0,20877.6,4,20000,24999,12579,0.175555,3848,42309.110351,23726.882176,13254.536067,107538.0,60307.0,33689.0
2988,Wahkiakum County,54085,43268.0,27042.5,16225.5,3,15000,19999,133,0.245149,93,712.486497,364.535407,155.798860,1619.0,828.0,354.0
2989,Walla Walla County,56533,45226.4,28266.5,16959.9,3,15000,19999,2551,0.392058,982,9043.327065,5253.661932,2936.001360,24423.0,14188.0,7929.0
2990,Whatcom County,59285,47428.0,29642.5,17785.5,3,15000,19999,9334,0.557211,3784,33958.344069,20844.825465,11442.488098,86610.0,53165.0,29184.0
2991,Whitman County,42163,33730.4,21081.5,12648.9,2,10000,14999,2733,0.529886,1179,7729.674575,5386.996999,3357.735567,20972.0,14616.0,9110.0
2992,Yakima County,49871,39896.8,24935.5,14961.3,2,10000,14999,4817,0.992458,4406,32055.238128,17908.266953,9189.772114,97110.0,54252.0,27840.0

In [148]:
print(f"""Total Washingtonians:
low income (<80% of county median): {sum(est_hh['population_low'])}
very low income (<50% of county median): {sum(est_hh['population_v_low'])}
extra low income (<30% of county median): {sum(est_hh['population_x_low'])}""")

Total Washingtonians:
low income (<80% of county median): 2908835.0
very low income (<50% of county median): 1700235.0
extra low income (<30% of county median): 913052.0